.objets{
    display:flex;
    gap: 1em;
    padding: 20px;
    width: 60%;
    height: 50%;
}
h1{
    font-family: 'Pixelify Sans', cursive;
    font-weight: bold;
    font-size: 64px;
}
button{
    font-family: 'Pixelify Sans', cursive;
    font-weight: bold;
    font-size: 32px;
}
.triangle{
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid red;
}

.carre{
    height: 50px;
    width: 50px;
    background-color: blue;
}

.rond{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
}